# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.a
*.lock
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Github packages and vscode extensions
go/src/github.com/
go/src/golang.org/
go/src/gopkg.in/
go/src/sourcegraph.com/
go/bin/

# Mongodb files
mongodb/journal/
mongodb/local/
mongodb/admin/